/*Colors*/

.experience-container {
    background-color: #013040;
    height:15vh
}

.about-me-container {
    background-color: #002A38;
    height: 100vh;
}

.skills-experience-container {
    background-color: #013040;
 } 

#002A38 #002A38 #013040

.sales-concept-background {
    background-color: #C9ECCB;
}

.description-background {
    background-color: #A4ECD7;
}

.product-news-background {
    background-color: black;
}

.portfolio-container-fluid-background {
    background-color: #002A38;
}

.portfolio-items-background {
    background-color: white;
}

.orange-text {
    font-family: 'Roboto condensed', sans-serif;
    font-size: 30px;
    color: #D2691E;
}


/*Headings*/

header {
    margin: 0;
}

heading {
    margin:0;
}

h5 {
    font-size: 17px;
}

.section-heading {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: white;
}

.subsection-heading {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.projects-heading {
   font-size: 26px;
   font-weight: 300; 
}

body {
    font-family: 'Roboto', sans-serif;
}

.white-text {
    color: white;
}

/*Navigation*/

.navbar .navbar-toggler {
    border: 0;
}

.dropdown-menu {
    border: 0; 
}

.icon-color {
    color: #008080;
}

/*Callout*/

.bg-img {
    height:auto;
    width: 100%;
    background: url("../images/banner_sm.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     position: relative;
     margin-top: 0;
 } 

.callout-text {
    color: #00262B;
}

.callout-container {
    margin-top: 7%;
}

.btn-sm-custom {
    width: 125px;
    height: 37px;
}

#name {
    font-family: "Roboto", sans-serif;  
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-bottom: 1%;
}

.title {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.contact-info {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-top: 3%;
}

.competence {
    width: 18%;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

 .experience-container {
     font-size: 0;
 }

 #experience li {
     font-size: 16px;
     padding: 0;
 }

.experience-title {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.number-of-years {
    color: #D2691E;
    font-size: 45px;
    font-weight: bold;
    margin-top: -5%;
    margin-bottom: 0;
}

.years {
    color:white;
    font-size: 14px;
    font-weight: 300;
    margin-top: -3%;
}

/*About me*/

#hand-written {
    font-family: "Roboto Condensed";
    font-size: 24px;
    color:#CEA36B;
}

.about-me p {
   font-weight: 300; 
   width: 75%;
}

#circle-container {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 50%;
    margin-top: -5%;
    margin-bottom: 10%;
}

#circle-cover-bg {
    background: url("../images/me2.jpg") no-repeat center;
    height: 100%;
    border-radius: 50%;
}


.about-me-quote {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 1%;
}


/*Portfolio*/

.concept-image-background {
    background: url("../images/concept_image_1.jpg") no-repeat center;
    height: 337px;
    width: 443px;
}

.concept-image-scope {
    background: url("../images/concept_image_2.jpg") no-repeat center;
    height: 337px;
    width: 443px;
}

.concept-image-analysis {
    background: url("../images/concept_image_3.jpg") no-repeat center;
    height: 337px;
    width: 443px;
}

.e-learning-image {
    background: url("../images/computer_2.jpg") no-repeat center;
    height: 295px;
    width: 443px;
}

.blockquote {
    font-size: 16px;
}

.quote-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.quote-hr {
    border-color:white;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
}

.video-background {
    background-color: black;
}

.introduction-image {
    background: url("../images/introduction.jpg") no-repeat top left;
    height: 198px;
    width: 300px; 
}

.product-image {
    background: url("../images/products.jpg") no-repeat top left;
    height: 198px;
    width: 300px; 
}

.truck-image {
    background: url("../images/truck.jpg") no-repeat top left;
    height: 198px;
    width: 300px; 
}

.training-info {
    background-color: #93E1D8;
}

.list-of-trainings {
    background-color: #C9ECCB;
}


/*Skills and experience*/




.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.experience-overview {
    margin-top: 5%;
}

.digital-learning {
    background-color: #C9ECCB;
}

.icon-size {
    font-size: 30px;
}

.digital-learning-heading {
    margin-bottom: -10%;
}

.video {
    background-color: #E7F6C7;
}

.training-events {
    background-color: #52BF90;
}

.concept-dev {
    background-color:#93E1D8;
}

.user-centric {
    background-color: #D3F3F7;
}

.interactiv-front-end {
    background-color: #A4ECD7;
}

.data-centric {
    background-color: #76D8AF;
}

.fullstack {
    background-color: #E0E9C6;
}

.upp-skilling-container {
    background-color: #339899;
}

.trainings-text {
    font-size: 12px;
}

/*Buttons*/

.btn--cta {
    background-color: #D2691E;
    border: 0;
    font-weight: 400;
    margin-top: 1%;
}

.btn--teal{
    color: white; 
}

.btn--teal:hover,
.btn--teal:active,
.btn--teal:focus,
.btn--teal:active:focus {
    background-color: rgba(0, 0, 0, .2);
    border-color: rgba(0, 0, 0, .2);
}


@media only screen and (min-width: 400px) {

.bg-img {
    background: url("../images/banner.jpg") no-repeat top left;
    height:85vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     position: relative;
     margin-top: 0;
}

@media only screen and (min-width: 576px) {

.bg-img {
    background: url("../images/banner_md.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     position: relative;
     margin-top: 0;
}


}