/*Colors*/

/*.bg-color-name-title {
     background-color: #841B2D; 
}*/

.experience-background {
    background-color: #008080;
    height: 15vh;
}

.full-page-bg-off-white {
    background-color: white;
    height: 100vh;
}

.full-page-bg-light-grey {
    background-color: #f2f2f2;
    height: 100vh;
}

/*Headings*/

header {
    margin: 0;
}

heading {
    margin:0;
}

.section-heading {
    font-size: 60px;
    font-weight: bold;
    color: lightgray;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Navigation*/

.navbar .navbar-toggler {
    border: 0;
}

.dropdown-menu {
    border: 0; 
}

.icon-color {
    color: #008080;
}

/*Callout*/

.bg-img {
    height: 85vh;
    background: url("../images/banner.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     position: relative;
     margin-top: 0;
 } 

.callout-text {
    color: #008080;
}

.name {
    font-family: "Roboto", sans-serif;  
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-top: 25%;
}

.title {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.contact-info {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-top: 3%;
}

.experience-ul {
    margin-top: 0;
    margin-bottom: 0;
}

.experience-title {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0.6%;
    text-align: center;
}

.number-of-years {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-top: -10%;
    margin-bottom: 0;
}

.years {
    color:white;
    font-size: 14px;
    font-weight: 300;
    margin-top: -3%;
}

/*About me*/
.about-me-container {
    height: 100vh;
}

.about-me-heading {
    margin-top: 70%;
}

.about-me p {
   font-weight: 300; 
   width: 75%;
}

#circle-container {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 50%;
    margin-top: 34%;
}

#circle-cover-bg {
    background: url("../images/me.jpg") no-repeat center;
    height: 100%;
    border-radius: 50%;
}


.about-me-quote-container {
    background-color:#F5F2D0;
    height: 20vh;
}

.about-me-quote {
    font-size: 30px;
    font-weight: 300;
}

/*Skills and experience*/

.skills-experience-container {
    height: 100vh;
}

.skills-experience-heading {
    margin-top: 15%;
    margin-bottom: 15%
}

.digital-learning {
    background-color: beige;
}

.icon-size {
    font-size: 40px;
}

.digital-learning-heading {
    margin-bottom: -10%;
}

.video {
    background-color: bisque;
}

.training-events {
    background-color: burlywood;
}

.concept-dev {
    background-color: cadetblue;
}

/*Portfolio*/

/*Buttons*/

.btn--cta {
    background-color: #008080;
    border: 0;
    font-weight: 400;
    margin-top: 1%;
}

.btn--teal{
    color: white; 
}

.btn--teal:hover,
.btn--teal:active,
.btn--teal:focus,
.btn--teal:active:focus {
    background-color: gray;
    border-color:gray;
}





