/*Colors*/

/*.bg-color-name-title {
     background-color: #841B2D; 
}*/

.experience-background {
    background-color: #008080;
}

/*Headings*/

header {
    margin: 0;
}

heading {
    margin:0;
}

.section-heading {
    font-size: 60px;
    font-weight: bold;
    color: #93e1d8;
    margin-top: 13%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Navigation*/

.navbar .navbar-toggler {
    border: 0;
}

.dropdown-menu {
    border: 0; 
}

.icon-color {
    color: #008080;
}

/*Callout*/

.callout-container {
    height: 75vh;
    background: url("../images/banner.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     position: relative;
     margin-top: 0;
 } 

.callout-text {
    color: #008080;
}

.name {
    font-family: "Roboto", sans-serif;  
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-top: 25%;
}

.title {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.contact-info {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-top: 3%;
}

.experience-ul {
    margin-top: 0;
    margin-bottom: 0;
}

.experience-title {
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1.5%;
    text-align: center;
}

.number-of-years {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-top: -10%;
    margin-bottom: 0;
}

.years {
    color:white;
    font-size: 14px;
    font-weight: 300;
    margin-top: -3%;
}

/*About me*/
.about-me-container {
    background-color: white;
    height: 100vh;
}

.about-me p {
   font-weight: 300; 
}

#circle-container {
    background-color: gray;
    height: 200px;
    width: 200px;
}

/*Portfolio*/

/*Buttons*/

.btn--cta {
    background-color: #008080;
    border: 0;
    font-weight: 400;
    margin-top: 1%;
}

.btn--teal{
    color: white; 
}

.btn--teal:hover,
.btn--teal:active,
.btn--teal:focus,
.btn--teal:active:focus {
    background-color: gray;
    border-color:gray;
}





